[Unit]
Description=Barber Reminder Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/abdulaziz_bot
ExecStart=/opt/abdulaziz_bot/venv/bin/python main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
